.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 16px;
  width: 80%;
  border-radius: 25px;
  background: lavenderblush;
  display: flex;
  flex-direction: column;
  align-items: center;
}