$form-field__label__width: 17%;
$form-field__button__dimension: 64px;
$form-field__list__spacing: 20px;

.form__wrapper {
    padding: 0 8px 8px 80px;
    margin: 10px 70px 40px 0;
}

.form-field__wrapper {
  margin-top: 40px;
  margin-right: 40px;
  display: flex;
  width: 100%;
}

.form-field__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field__list__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-field__list__item > div {
  margin-right: $form-field__list__spacing;
}

.form-field__label {
  width: $form-field__label__width;
  display: flex;
  vertical-align: baseline;

  & > h3 {
    margin-left: 20px;
  }
}

.form-field__content {
  width: calc(100% - #{$form-field__label__width});
  display: flex;
  align-items: flex-start;
  vertical-align: baseline;

  & button > h3 {
    margin-right: 0;
  }

  & > button {
    min-width: $form-field__button__dimension;
    height: $form-field__button__dimension;
  }
}

.simple-form-field__content {
  flex-direction: column;
}

.reana-editor-wrapper {
  width: 100%
}

.object-field__list__item > div {
    width: calc((100% - (3 * #{$form-field__list__spacing} + 64px)) / 2);
}

.array-field__list__item > div {
    width: calc(100% - (2 * #{$form-field__list__spacing} + 64px));
}